# Ola Munthe Vassboth
Ola Munthe Vassbotn <olamva@stud.ntnu.no> Ola Munthe Vassbotn <olamva@stud.ntnu.no>

# Mikael Steenbuch
Mikael Steenbuch <mikael.steensbuch@ntnu.no> Mikael Steenbuch <mikael.steensbuch@ntnu.no>
Mikael Steenbuch <mikael.steensbuch@ntnu.no> ComputasMikael <mikael.steenbuch@computas.com>
Mikael Steenbuch <mikael.steensbuch@ntnu.no> Mikael Steenbuch <mikaelsteenbuch@gmail.com>

# Karos Hemn
Karos Hemn <karos.h.mrad@ntnu.no> Karos Hemn <karos.h.mrad@ntnu.no>
Karos Hemn <karos.h.mrad@ntnu.no> Karos Hemn <karoos4@hotmail.com>

# Lasse Bærland Strand
Lasse Bærland Strand <lassebs@stud.ntnu.no> Lasse Bærland Strand <lassebs@stud.ntnu.no>
Lasse Bærland Strand <lassebs@stud.ntnu.no> Lasse Bærland Strand <lassebaerlandstrand@gmail.com>

# Aurora Johansen
Aurora Johansen <aurorj@stud.ntnu.no> Aurora Johansen <aurorj@stud.ntnu.no>

# Isabelle Mac Quarrie Nordin
Isabelle Mac Quarrie Nordin <isabelle@nordin.no> Isabelle Nordin <isabelle@nordin.no>
Isabelle Mac Quarrie Nordin <isabelle@nordin.no> Isabelle Mac Quarrie Nordin <imnordin@stud.ntnu.no>

# Cornelia Sommerfelt
Cornelia Sommerfelt <cornelfs@stud.ntnu.no> cornelia <cornelfs@stud.ntnu.no>
